h2 {
  font-size: 2em;
  text-align: center;
}

#about-us-hero {
  background: var(--var-blue-bg);
  padding: 40px 0;

  h2 {
    color: white;
  }

  #about-us-hero-images {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 15px;
    padding: 30px 0;

    @media (max-width: 810px) {
      margin: 0 20px;
    }

    img {
      width: 450px;
      height: 250px;
      object-fit: cover;
      border-radius: 10px;
    }

    @media (max-width: 810px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 300px;
      }
    }
  }
}

#about-us {
  padding: 40px 0;

  h3 {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
  }

  .container {
    justify-content: space-around !important;
  }

  #about-us-text {
    margin: 0 auto;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 810px) {
      width: 100%;
    }

    p {
      padding-bottom: 20px;
    }
  }

  #about-us-image {
    img {
      width: 450px;
      height: 650px;
      object-fit: cover;
      border-radius: 10px;

      @media (max-width: 1080px) {
        width: 400px;
        height: 500px;
        object-fit: cover;
        margin-top: 20px;
      }
    }
  }
}
