#jumplink-section {
  background: var(--var-blue-bg);
  padding: 40px 0;
  h1 {
    text-align: center;
  }

  #jumplink-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 40px;

    .jumplink-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;

      a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        filter: drop-shadow(-1px -1px 9px #000000);

        img {
          margin-top: 20px;
          width: 130px;
          height: 130px;
          border-radius: 100%;
        }
      }
    }
  }
}

#space-exploration {
  background: var(--var-salmon-bg);
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 40px;

  h2 {
    text-align: center;
    font-size: 2rem;
    padding: 40px 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .left-container {
      margin: 0 auto;
      width: 45%;
      position: relative;

      .space-ex-img {
        width: 250px;
        border-radius: 20px;
      }
    }

    .right-container {
      width: 45%;
      margin: 0 auto;

      h3 {
        font-size: 1.5rem;
        padding-top: 20px;
        padding-bottom: 5px;
      }
    }
  }
}
