* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-height: 150px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 30px;

    #header-info {
        display: flex;
        max-height: 150px;

        #header-logo img{
            width: 80px;
            justify-self: flex-start;
            margin-top: 20px;
        }

        p {
            margin: 40px 20px;
            font-size: 2rem;
        }
    }

    #header-nav {
        justify-self: flex-end;
        padding-left: 40px;

        #header-nav-list {
            display: flex;
            align-content: center;
            margin-top: 50px;
            gap: 20px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 1.3rem;
                    padding: 8px 10px;
                }

                a:hover {
                    text-shadow: 1px 0 0 currentColor;
                }
            }
        }
    }
}



