/* Color variables */

:root {
  --var-blue-bg: #111551;
  --var-salmon-bg: #b27070;
  --var-card-green: #a3d900;
  --var-card-blue: #4a90e2;
  --var-card-purple: #7a3eb1;
  --var-card-yellow: #ffd500;
}

/* Font classes */

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.jockey-one-regular {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Main - site wide styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--var-salmon-bg);
}

/* Header styles */
header {
  max-height: 150px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 30px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    max-height: 200px;
  }

  #header-info {
    display: flex;

    #header-logo img {
      width: 100px;
      justify-self: flex-start;
      margin-top: 20px;

      @media screen and (max-width: 768px) {
        margin-top: 15px;
      }
    }

    p {
      margin: 40px 20px;
      font-size: 2rem;

      @media screen and (max-width: 768px) {
        margin: 10px 0;
        padding-bottom: 20px;
        font-size: 1.8rem;
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  #header-nav {
    justify-self: flex-end;
    padding-left: 40px;

    @media screen and (max-width: 768px) {
      display: none;
    }

    #header-nav-list {
      display: flex;
      align-content: center;
      margin-top: 50px;
      gap: 20px;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: black;
          font-size: 1.3rem;
          padding: 8px 10px;
        }

        a:hover {
          text-shadow: 1px 0 0 currentColor;
        }
      }
    }
  }
}

/* Footer Styles */

footer {
  background: var(--var-blue-bg);
  height: 300px;

  .copy-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 80px;

    .fa-solid {
      font-size: 2rem;

      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
    }

    .fa-hippo {
      color: var(--var-card-green);
    }

    .fa-otter {
      color: #654321;
    }
  }

  h3 {
    color: white;

    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
  }

  li {
    list-style: none;
    color: white;

    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  #footer-socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    font-size: 2rem;
  }
}

.hero-section {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.hero-text {
  font-size: 3rem;
  color: white;
  margin: 0 auto;
  text-shadow: 1px 0 0 black;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
    margin: 0 10px;
  }
}

.hero-button {
  font-size: 1.3rem;
  color: black;
  margin: 0 auto;
  transition: font-size 0.2s ease;
  height: 55px;
  text-decoration: none;
}

.hero-button:hover {
  font-size: 1.4rem;
}

/* TODO move these to components, with the fonts */

.regular-button {
  background-color: #bbe853;
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px 60px;
  filter: drop-shadow(-1px -1px 9px #000000);
  text-decoration: none;
  color: black;
}

.regular-button:hover {
  cursor: pointer;
  background-color: #bbe222;
  filter: drop-shadow(2px 2px 12px #000000);
}

h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin: 20px 0;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}
