h2 {
  text-align: center;
  font-size: 2rem;
  padding: 30px 0;
}

#visit-us-hero {
  background: var(--var-blue-bg);
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    color: white;
  }

  .map {
    margin-bottom: 30px;
    width: 90%;

    @media (min-width: 1300px) {
      width: 50%;
    }
  }
}

#contact-section {
  padding: 40px 0;
  width: 100%;

  .container {
    justify-content: space-around !important;

    @media (min-width: 1300px) {
      width: 50%;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;

    input {
      width: full;
      padding: 10px;
      margin: 10px 0;
      font-size: 1rem;
    }

    textarea {
      font-size: 1rem;
      padding: 10px;
      margin: 10px 0;
      width: full;
    }

    a {
      margin-top: 10px;

      @media (max-width: 768px) {
        margin-bottom: 50px;
      }
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

    p {
      margin: 10px 0;
    }
  }
}

.mailto {
  text-decoration: none;
  color: black;

  &:hover {
    color: var(--var-card-purple);
  }
}
